<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Sprawdź opóźnienia pociągów na danej trasie</h1>
      <form>
        <div class="form-group row">
          <label for="departmentStation" class="col-sm-2 col-form-label"
            >Stacja początkowa</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="departmentStation"
              [(ngModel)]="department"
              [disabled]="!this.pgliteService.isReady().valueOf()"
              name="department"
            />
          </div>
        </div>
        <div class="form-group row mt-2">
          <label for="destinationStation" class="col-sm-2 col-form-label"
            >Stacja końcowa</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="destinationStation"
              [(ngModel)]="destination"
              [disabled]="!this.pgliteService.isReady().valueOf()"
              name="destination"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-center mb-3">
            <button
              type="button"
              class="btn btn-primary mt-2 me-3"
              name="submitButton"
              [disabled]="!this.pgliteService.isReady().valueOf()"
              (click)="submit()"
            >
              Wyszukaj historię opóźnień
            </button>
            <button
              type="button"
              class="btn btn-secondary mt-2"
              (click)="swapStations()"
            >
              Zamień stacje
            </button>
          </div>
        </div>
      </form>
      <div></div>
      @if (!this.pgliteService.isReady().valueOf()) {
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      } @else if (response.length !== 0) {
      <div class="text-center">
        {{ response.length }} {{ getResultsDeclension() }}. Strona {{ page }} z
        {{ pageCount }}.
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          @if (page > 3) {
          <li class="page-item" (click)="updateConnectionsToDisplay(1)">
            <a class="page-link"><i class="bi bi-chevron-double-left"></i></a>
          </li>
          <!-- <li class="page-item" (click)="updateConnectionsToDisplay(page - 1)">
            <a class="page-link"><i class="bi bi-chevron-compact-left"></i></a>
          </li> -->
          } @for (pageNumber of getPageNumbers(); track pageNumber) {
          <li
            class="page-item"
            [ngClass]="{ active: pageNumber === page }"
            (click)="updateConnectionsToDisplay(pageNumber)"
          >
            <a class="page-link">{{ pageNumber }}</a>
          </li>
          } @if (page < pageCount - 2) {
          <!-- <li class="page-item" (click)="updateConnectionsToDisplay(page + 1)">
            <a class="page-link"><i class="bi bi-chevron-right"></i></a>
          </li> -->
          <li class="page-item" (click)="updateConnectionsToDisplay(pageCount)">
            <a class="page-link"><i class="bi bi-chevron-double-right"></i></a>
          </li>
          }
        </ul>
      </nav>
      } @if (isLoading) {
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      } @for(connection of connectionsToDisplay; track connection.track) {
      <div
        class="row"
        [ngClass]="{ 'text-decoration-line-through': connection.cancelled }"
      >
        <div class="col-sm-6 d-flex justify-content-between">
          {{ (connection.department_timestamp | date:'yyyy-MM-dd HH:mm') }}
          <span
            *ngIf="!connection.cancelled"
            [ngClass]="[ connection.department_delay > 0 ? 'text-danger' : 'text-success' ]"
            >{{ getMinuteDeclension(connection.department_delay) }}
            opóźnienia</span
          >
        </div>
        <div class="col-sm-6 d-flex justify-content-between">
          {{ (connection.s2_arrival_timestamp | date:'yyyy-MM-dd HH:mm') }}
          <span
            *ngIf="!connection.cancelled"
            [ngClass]="[ connection.s2_arrival_delay > 0 ? 'text-danger' : 'text-success' ]"
            >{{ getMinuteDeclension(connection.s2_arrival_delay) }}
            opóźnienia</span
          >
        </div>
      </div>
      <hr />
      }
    </div>
  </div>
</div>
